@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
  line-height: 1.2;
  -ms-overflow-style: none; /* IE and Edge */
}

body {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  overflow-y: scroll;
}

* {
  -ms-overflow-style: none;
}

/* !Scroll bar style */
:root {
  /* Light theme variables */
  --scrollbar-bg: #e0e0e0;
  --scrollbar-track: #f0f0f0;
  --scrollbar-thumb: #b3b3cc;
  --scrollbar-thumb-hover: #a0a0a0;
}

[data-theme='dark'] {
  /* Dark theme variables */
  --scrollbar-bg: #1d1d22;
  --scrollbar-track: #1d1d22;
  --scrollbar-thumb: #59595f;
  --scrollbar-thumb-hover: #555;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition-delay: 9999s;
  -webkit-text-fill-color: #ff8800;
}
