@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
  line-height: 1.2;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* mozilla */
}

body {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  overflow-y: scroll;
}

* {
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}

body::-webkit-scrollbar {
  display: none;
  width: 0 !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition-delay: 9999s;
  -webkit-text-fill-color: #ff8800;
}
